# Server Configuration
ACCESS_TOKEN_EXPIRY=1d
CLIENT_APP_URL=your_client_app_url
FROM_EMAIL=no-reply@example.com
JWT_ISSUER=your_app_name_or_domain
JWT_SECRET=randomly_generated_secret_key
NODE_ENV=development
PORT=8000
REFRESH_TOKEN_EXPIRY=7d

# PostgresDB Connection
PG_HOST=localhost
PG_PORT=5432
PG_USER=your_db_user
PG_PASSWORD=your_db_password
PG_DATABASE=your_database_name
POSTGRES_URL=postgresql://${PG_USER}:${PG_PASSWORD}@${PG_HOST}:${PG_PORT}/${PG_DATABASE}

# AWS Configuration (for SES email)
AWS_ACCESS_KEY=your_aws_access_key
AWS_SECRET_KEY=your_aws_secret_key
AWS_REGION=us-east-1

# Migration and seeding Flags
DB_MIGRATING=true
DB_SEEDING=true

# Token for openCode API (if needed)
GITHUB_PAT=your_github_personal_access_token